html {
    font-family: Roboto, sans-serif;
}

.chat {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.container {
    text-align: center;
}

.message__box-container {
    margin: 20px;
    border: 1px solid #000;
    height: 400px;
    min-width: 400px;
    overflow-y: scroll;
}

.init-chat {
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
}

.message__input-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.message__input {
    padding: 5px;
    margin: 20px 20px 20px 0;
    font-size: 16px;
    width: calc(100% - 50px);
}

.message__send-btn, .message__join-btn {
    font-size: 16px;
    padding: 5px;
}

.select-user__item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #000000;
}

.select-user__item:hover {
    border: 1px solid green;
    color: green;
}

.hidden {
    display: none;
}

.message-item {
    display: flex;
    padding: 0 20px;
}

.message-item:last-child {
    margin-bottom: 80px;
}

.message-item__author {
    margin: 5px 20px 5px 0;
}
.message-item__text {
    margin: 5px 0;
}

.message-item_my {
    flex-direction: row-reverse;
}

.message-item_my .message-item__author {
    margin: 5px 0 5px 20px;
}